.main-button {
  color: white;
  background-image: -moz-linear-gradient(left, rgba(235,51,134,1) 0%, rgba(192,53,160,1) 100%);
  background-image: -webkit-linear-gradient(left, rgba(235,51,134,1) 0%, rgba(192,53,160,1) 100%);
  background-image: -o-linear-gradient(left, rgba(235,51,134,1) 0%, rgba(192,53,160,1) 100%);
  background-image: -ms-linear-gradient(left, rgba(235,51,134,1) 0%, rgba(192,53,160,1) 100%);
  background-image: linear-gradient(to right, rgba(235,51,134,1) 0%, rgba(192,53,160,1) 100%);
  margin-top: 35px;
}

.email-confirmation-actions-buttons {
  background-color: white;
  border: none;
  color: #EB3386;
}