.back-btn:focus,
.next-btn:focus {
  outline: none;
}

.back-btn, .next-btn {
  border: none;
  background: none;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 17px;
}

.next-btn {
  color: white;
  background-color: #660066;
  width: 190px;
  height: 42px;
  line-height: 42px;
  border-radius: 10px;
  margin-left: 20px;
}

.onboarding {
  margin-top: 20px;
  -webkit-box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
  border-radius: 10px;
  width: min-content;
}

.onboarding-header {
  text-align: center;
  background-size: cover !important;
  background: url(/static/img/Onboarding.png) ;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: Gilroy Medium;
}

.hover-chip:hover {
  background-color: #DDCFE0 !important;
  color: #612371 !important;
}

.selected,
.selected:hover{
  background-color: #612371 !important;
}

.selected > * {
  color: white !important;
}

.selected-talents,
.selected-talents:hover {
  background-color: #660066 !important;
  color: white;
}

.cards {
  display: inline-flex;
  border-radius: 10px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
}

.comp-card:focus {
  outline: none;
  background-color: #541065;
}

.alt-stepper {
  display: none;
}

.tooltip-main {
  position: relative;
}

.tooltip-text {
  position: absolute;
  top: -55px;
  left: 68px;
  color: black;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.talent-cards {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  width: 32%;
  height: 164px;
  border-radius: 10px;
  margin-right: 14px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.talent-cards:last-child {
  margin-right: 0px;
}

.talent-cards:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
}

#selected-talents-cards-id {
  border-top: none;
  padding-top: 0;
}

.selected-talents-cards {
  border-top: 1px solid lightgrey;
  padding-top: 45px;
}

.onboarding-booker-button {
  padding: 15px 77px;
  background-color: #660066;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: Gilroy Medium;
  font-size: 16px;
  margin-top: 80px;
  margin-bottom: 35px;
}

.other-talents {
  background-color: #9acfea;
  height: 100px;
  width: 16.67%;
  border-radius: 10px;
  margin-right: 14px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Gilroy Medium";
  font-size: 18px;
  cursor: pointer
}

.other-talents:last-child {
  margin: 0px;
}

.gig-talents {
  background-color: #fafafa;
  height: 100px;
  width: 16.67%;
  border-radius: 10px;
  margin: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Gilroy Medium";
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 5px 1px lightgrey;
}

@media (min-width: 1201px) {
  .onboarding {
    width: 750px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .onboarding {
    width: 700px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .onboarding {
    width: 650px;
  }

  .card-avatar {
    display: none;
  }

}

@media (min-width: 577px) and (max-width: 768px) {
  .onboarding {
    width: 520px;
  }

  .card-avatar {
    display: none;
  }

  .profile-name,
  .profile-img {
    display: none;
  }
}

@media (max-width: 576px) {
  .onboarding {
    width: 450px;
  }

  .card-avatar {
    display: none;
  }

  .profile-name,
  .profile-img  {
    display: none;
  }

  .stepper-step > *{
    display: grid !important;
  }

  .stepper-step > span.stepper > span {
    align-self: center;
    justify-self: center;
  }

  .alt-stepper {
    display: flex;
  }
  
  .stepper-main {
    display: none;
  }
}
