@media (max-width: 576px) {
  .step {
    margin-top: 10px !important;
    margin-bottom: 30px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .step {
    margin-top: 10px !important;
    margin-bottom: 30px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .step {
    margin-top: 10px !important;
    margin-bottom: 30px;
  }
}