.list-item {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}

.list-item:hover {
  cursor: pointer;
}

.selected-item {
  background-color: #61116A;
  padding: 5px;
  color: white;
}

.menu-item {
  padding: 20px 20px 20px 24px;
  background-color: white;
  cursor: pointer
}

.menu-today li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu-today li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selected-menu-item-today {
  padding: 20px;
  border-left: 4px solid #991998;
  background-color: white;
}

.future-post {
  background-color: white;
  border-radius: 5px;
}

.future-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid lightgrey;
}

.future-content {
  padding: 15px;
}

.future-content-text {
  font-size: initial;
  font-weight: bolder;
}

.post-author {
  margin-left: 10px
}

.post-social-icons img,
.post-action-icons img{
  border-radius: 50%
}