.list-item {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}

.list-item:hover {
  cursor: pointer;
}

.selected-item {
  background-color: #61116A;
  padding: 5px;
  color: white;
}

.menu-item {
  padding: 2rem 2rem 2rem 1.8rem;
  background-color: white;
  border-left: 4px solid transparent;
  cursor: pointer;
  color: #808080;
  font-size: 1.6rem;
  line-height: 1.3rem;
}

.menu-today li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.menu-today li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selected-menu-item-today {
  padding: 2rem 2rem 2rem 1.8rem;
  border-left: 4px solid;
  border-image:  linear-gradient(to top, #fd2ac5, #3b096e) 4;
  background-color: white;
  color: #000;
  font-size: 1.6rem;
}

.future-post {
  background-color: white;
  border-radius: 5px;
}

.future-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid lightgrey;
}

.future-content {
  padding: 15px;
}

.future-content-text {
  font-size: initial;
  font-weight: bolder;
}

.post-author {
  margin-left: 10px
}

.post-social-icons img,
.post-action-icons img{
  border-radius: 50%
}

.ribbon {
  width: 132px;
  height: 132px;
  overflow: hidden;
  position: absolute;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 5px 0;
  background-color: #ff3399;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: 0px;
  left: 0px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}