@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/Gilroy-Light.otf');
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('../fonts/Radomir Tinkov - Gilroy-Medium.otf');
}

html, body {
  min-width: 100%;
  min-height: 100%;
  font-family: 'Gilroy Light', sans-serif;
  //background-color: #EEF2F5;
}

div[role='menu'] > span:hover {
  background-color: black;
}

.change-back-color {
  background-color: #EEF2F5;
}

.white-back {
  background-color: white;
}

@import "socialLogin";
@import "activateAccount";
@import "selectRole";
@import "talentRole";
@import "bookerRole";
@import "additionalStyle";
@import "selectTalents";
@import "onboarding";
@import "previewProfile";
@import "today";